* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

#wrapper {
  max-width: 1920px;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 80px;
}

section {
  min-height: 500px;
  margin: 25px;
  padding: 10px;
}

#content {
  margin-top: 75px;
  margin-bottom: 100px;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wrapper-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #336699;
  opacity: 0.7;
  z-index: 5;
}

div.flex-column-left,
div.flex-column-right {
  padding: 25px;
  margin-bottom: 25px;
  width: 600px;
  line-height: 1.4em;
  font-size: 1.2em;
  color: #666666;
  text-align: center;
}

footer {
  min-height: 30px;
  background-color: #f2f2f2;
  padding: 10px;
  font-size: 1em;
  color: #000000;
  text-align: center;
}

footer p {
  text-align: center;
  padding: 5px;
}

.toolbar {
  height: 80px;
  background-color: #336699;
  box-shadow: 1px 3px 5px #666666;
}

.toolbar .navBar {
  margin: 0 0 0 150px;
  padding: 0;
  padding-right: 50px;
  color: #999999;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}

.toolbar .navBar li.menuItem {
  display: inline-block;
  font-size: 1.3em;
  margin-right: 10px;
  list-style: none;
}

.toolbar .navBar li.menuItem a,
li.menuItem a:visited {
  text-decoration: none;
  color: #999999;
}

.toolbar .navBar li.menuItem a:hover {
  text-decoration: none;
  color: #336699;
  font-weight: 600;
}

.toolbar .navBar ul {
  margin: 10px 0 0 25px;
  padding: 0;
}
.card {
  width: 350px;
  margin: 50px;
}

.card,
.form-contact {
  border: 2px solid #336699;
  box-shadow: 2px 4px 5px #666666;
  border-radius: 5px;
}

.card .cardMedia {
  overflow: hidden;
  height: 230px;
}

.card .cardMedia img {
  width: 100%;
}

.card .cardTitle,
.form-contact .form-title {
  padding-top: 10px;
  width: 100%;
  height: 50px;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  background-color: #336699;
}

.card .cardSubTitle {
  text-align: center;
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 1.1em;
  font-weight: bold;
  color: #336699;
}

.card .cardInfo {
  padding: 10px 20px;
}

.card .cardActions {
  padding-bottom: 25px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.card .cardFrameworks {
  margin: 5px 0 10px 0;
  padding-bottom: 10px;
  font-size: 0.9em;
  color: #999999;
}

.card .cardFrameworks span {
  background-color: #f2f2f2;
  color: #666666;
  padding: 3px;
  margin-right: 10px;
}

.logo {
  padding: 10px;
  margin: -5px 0 0 10px;
  height: 180px;
  filter: drop-shadow(1px 2px 3px #666);
}

.splash-image {
  margin: -55px 0 0 0;
  width: 600px;
}

.headshot {
  margin-top: 5px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #999999;
}

.cs-byline {
  padding-bottom: 7px;
  margin: -180px 30px 0 170px;
  color: #90b1d3;
  font-size: 1.2rem;
  text-align: right;
}

.cs-byline a,
.cs-byline a:visited,
.cs-byline a:hover {
  text-decoration: none;
  color: #90b1d3;
  font-style: normal;
  font-weight: 400;
}

.social-icons {
  text-align: right;
  margin: 15px 35px 0 0;
  filter: drop-shadow(1px 1px 1px #ffffff);
}

.social-icons img {
  margin-top: -90px;
  height: 30px;
}

.breadcrumb h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin: -160px 0 0 130px;
  text-align: left;
  color: #90b1d3;
}

.button,
button a {
  padding: 5px;
  width: 150px;
  border-radius: 20px;
  text-align: center;
  font-size: 1em;
  color: #336699;
  font-weight: bold;
  border: 2px solid #336699;
}

.button:hover,
.button a:hover {
  background-color: #336699;
  color: #ffffff;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  width: 400px;
  transform: translate(-50%, -50%);
  border: 2px solid #336699;
  box-shadow: 2px 3px 15px #333333;
  z-index: 10;
}

#modal .modal-title {
  padding-top: 10px;
  width: 100%;
  height: 50px;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  background-color: #336699;
}

.modal-body {
  width: 100%;
  padding: 20px;
}

.modal-actions,
.form-actions {
  padding-bottom: 25px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

div {
  padding: 0;
}

h2 {
  color: #000000;

  text-align: left;
  line-height: 1.5em;
  margin-top: 25px;
  color: #336699;
}

h3 {
  margin: 35px 0 10px 0;
}

p {
  text-align: left;
  line-height: 1.5em;
  font-size: 1.1em;
  margin: 15px 0 30px 0;
}

a,
a:visited {
  text-decoration: none;
  color: #336699;
}

a:hover {
  font-weight: bold;
}

.hide {
  display: none;
}

.form-contact {
  width: 400px;
}

.form-wrapper {
  padding: 20px;
}

.form-title,
label {
  color: #336699;
  font-weight: bold;
}

/* Style inputs with type="text", select elements and textareas */
input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
